<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Pagina de teste do angular</h3>
        </div>
        <div class="card-body">
          <h3>Two-way data binding</h3>
          <Div>
            <input type="text" placeholder="Digitar o que deseja aqui" [value]="valorDigitado"
              (input)="valorDigitado = $event.target.value" />

            <input type="text" placeholder="Digitar o que deseja aqui" [ngModel]="valorDigitado"
              (ngModelChange)="valorDigitado = $event" />

            <input type="text" placeholder="Digitar o que deseja aqui" [(ngModel)]="valorDigitado" />

          </Div>

          <p>
            valor Atual: {{valorDigitado}}
          </p>

          <p>
            Var Compartilhada! {{ nome }}
          </p>

          <input type="text" placeholder="Digitar o Nome" [(ngModel)]="pessoa.nome" />
          <br>
          <input type="text" placeholder="Digitar a Idade" [(ngModel)]="pessoa.idade" />

          <p>
            Meu nome é {{pessoa.nome}} e tenho {{pessoa.idade}} de idade!
          </p>

          <div>
            <button (click)="botaoSobe()" class="btn btn-primary my-4">+</button>
            <input type="text" class="form-control form-control-alternative"
              placeholder="Valor digitado!" #campoInput
              [value]="valorInput"
              />
              <button (click)="botaoDece()" class="btn btn-primary my-4">
                -
              </button>
            </div>



        </div>
      </div>
    </div>
  </div>
</div>