<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Pagina de teste do angular</h3>
        </div>
        <div class="card-body">
          <p>TESte de botao</p>
          <p>
            <a href="#!" class="btn btn-info">Edit profile</a>
          </p>
          <p>
            <button (click)="botaoClicado()" class="btn btn-primary my-4">
              Clique aqui!
            </button>
            <br>

            <input type="text" (keyup)="inputComEvento($event)" (Keyup.enter)="escutarEnter(campoInput.value)"
              (blur)="perdeFocus($event.target.value)" class="form-control form-control-alternative"
              placeholder="Digitar o que deseja aqui" #campoInput/>

          </p>
          <p>
            valor Atual: {{valorAtual}}
          </p>
          <p>
            valor salvo: {{valorSalvo}}
          </p>
          <p>
            valor perd focus: {{valorFocus}}
          </p>


          <app-two-way [nome] = "variavelCompartilhada" ></app-two-way>


        </div>
      </div>
    </div>
  </div>
</div>